// Import ED-Grid ===========
$cssCore: false;
$cssHelpers: true;
$devMode: false;
@import 'ED-GRID/ed-grid';
// Default ==================
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin      : 0;
  font-family : sans-serif;
}

img {
  max-width : 100%;
  height    : auto;
}

a {
  text-decoration : none;

  &:hover { text-decoration : underline }
}

.welcome-main,.layout-main{
    @include edContainer
}

// Welcome Section ============
.welcome-content{
    @include edItem(100);
    @include flexCenter;
    @include flexColumn;
    @include to(m){
        font-size: 1.2em;
        padding: 10em 0;
        .btn-p{
            font-size: 15px
        }
    }
    @include from(m){
        padding: 10em 0;
    }
    @include from(l){
        font-size: 1.6em;
        height: 700px;
        .btn-p{
            font-size: 18px
        }
    }
    & h1 {
        margin: 0;
        font-size: 2.5em;
    }
}

.btn-p{
    @include button(black, white , round);
    margin: 1em
}

// Layout Section =================
.layout-main{
    background: black;
    color: white
}
.layout-logo{
    @include edItem(70,80,15);
    @include from(l){
        @include flexCenter
    }
}
.layout-toggle{
    @include edItem(30,20);
    @include flexCenter
}
.layout-toggle{
    @include from(l){
        display: none
    }
}
.layout-menu{
    text-align: center;
    @include edItem(100,100,20);
    @include edMenu(l,navBar);
    li{
        background: white;
        &:hover{
            background: black;
            transition: .3s all;
            a{
                color: white
            }
        }
        a{
            color: black;
        }
    }
    @include to(l){
        padding: 0;
        font-size: 1.6em;
    }

}

// Import Pages Styles 
@import '../pages/home/home';
@import '../pages/about/about';