// Import ED-Grid ===========
$cssCore: false;
$cssHelpers: true;
$devMode: false;
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300);
@import 'ED-GRID/ed-grid';

// Default ==================
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin      : 0;
  font-family : sans-serif;
}

img {
  max-width : 100%;
  height    : auto;
}

a {
  text-decoration : none;

  &:hover { text-decoration : underline }
}

.welcome-main, .layout-main{
    @include edContainer
}
.layout-main{
    padding: 0
}
// Welcome Section ============
.welcome-content{
    @include edItem(100);
    @include flexCenter;
    @include flexColumn;
    @include to(m){
        font-size: 1.3em;
        p{
            font-size: 1.1em;
            margin: 1.5em 0
        }
        .btn-p{
            font-size: 18px;
            margin: 0
        }
    }
    @include from(m){
        padding: 10em 0;
    }
    @include from(l){
        font-size: 1.6em;
        height: 700px;
        .btn-p{
            font-size: 18px
        }
    }
    & h1 {
        margin: 0;
        font-size: 2.5em;
    }
}

.btn-p{
    @include button(black, white , round);
    margin: 1em
}

// Layout Section =================
header{
    @include from(l){
        border-bottom: 1px solid rgba(0,0,0,0.15);
    }
}
.layout-logo{
    @include edItem(70,80,15);
    font-size: 1.5em;
    @include to(l){
        border-bottom: 1px solid rgba(0,0,0,0.15);
    }
    @include from(l){
        @include flexCenter
    }
}
.layout-toggle{
    @include edItem(30,20);
    @include flexCenter;
    font-size: 1.5em;
     @include to(l){
        border-bottom: 1px solid rgba(0,0,0,0.15);
    }
}
.layout-toggle{
    @include from(l){
        display: none
    }
}
.layout-menu{
    text-align: center;
    @include edItem(100,100,20);
    @include edMenu(l,navBar);
    li{
        background: white;
        a{
            color: black;
        }
    }
    @include to(l){
        padding: 0;
        font-size: 1.6em;
    }

}
.layout-btn{
    @include edItem(60);
    @include flexCenter;
    @include mainEnd;
    @include to(l){
        display: none
    }
    a{  
        margin: 0 3px;
        border: 1px solid black;
        @include button(white, black , radius)
    }
    .s-btn{
        margin: 0 3px;
        @include button(black, white , radius)
    }
}
// Import Pages Styles 
@import '../pages/home/home';
@import '../pages/about/about';
