app-about, main{
    @include edContainer
}
section{
    @include edItem;
    @include flexCenter;
    @include flexColumn;
    @include to(l){
        margin-top: 20%;
        font-size: 1.6em
    }
    @include from(l){
        padding: 5em;
        font-size: 2em
    }
}