.login-title
    h2 {{title}}
.login-form
    input(type="text" placeholder='Usuario')
    input(type="password" placeholder='Contraseña')
    button((click)='openDash2()') Entrar
    a.form-btn((click)='openRegistrar()') Registrase