// login styles ==============
.login-title{
    @include edItem;
    @include flexCenter
}
.login-form{
    @include edItem;
    @include flexColumn;
    @include to(m){
        input{
            padding: .8em;
            margin: .1em 0;
            font-size: 15px;
            border: none;
            border: 1px solid black;
        }
        button{
            margin-top: .2em;
            font-size: 17px;
        }
        .form-btn{
            border: 1px solid black;
            @include flexCenter;
        }
    }
}