div(*ngIf='!read')
    h1 Dope Music
    h3 Descarga musica original
    button((click)='openDash()') Entrar
div(*ngIf='read')
    h1 logo
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> Home </a>
    a(routerLink="/about"  routerLinkActive='active') About
    router-outlet