div(*ngIf='!read').welcome-main
    .welcome-content
        h1 Dope Music
        p Descarga musica original
        button.btn-p((click)='openDash()') Entrar
header
    div.layout-main
        .layout-logo
            h1 Dope 
        .layout-toggle
            h1.icon-bars
        ul.layout-menu
            li: <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> Home </a>
            li: a(routerLink="/about"  routerLinkActive='active') About
router-outlet