div(*ngIf='!read').welcome-main
    .welcome-content
        h1 Dope Music
        p Descarga musica original
        button.btn-p((click)='openDash()') Entrar
header
    .layout-main
        .layout-logo
            p Dope 
        .layout-toggle
            p.icon-bars
        ul.layout-menu
            li: <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> Home </a>
            li: a(routerLink="/about"  routerLinkActive='active') About
        .layout-btn
            a((click)='openLogin()') Login
            a.s-btn((click)='openRegistrar()') Registrase
router-outlet