div(*ngIf='login').login-main
    .login-title
        h2 Iniciar Sesion
    .login-form
        input(type="text" placeholder='Usuario')
        input(type="password" placeholder='Contraseña')
        button((click)='openDash2()') Entrar
        a.form-btn((click)='openRegistrar()') Registrase

div(*ngIf='!login').dash-main
    div(*ngIf='!dash').dash-content
        .dash-btn
            a((click)='openLogin()') Login
        h1.dash-title Dope Music
        .dash-song-main
            .song-cover
                h1 song
                //img(src="#", alt="")
        ul.dash-album
            li
                p S1 
                h3 Song 1 #[span Dope Music]
                strong 30s
            li
                p S2 
                h3 Song 2 #[span Dope Music]
                strong 30s
            li
                p S3 
                h3 Song 3 #[span Dope Music]
                strong 30s
    div(*ngIf='dash').dash-content
        .dash-perfil
            .perfil-name
                 h2 Usuario
            .perfil-avatar 
                img(src="build/media/img/1.png", alt="")
        ul.dash-menu
            li: a((click)='openLibrary()') Biblioteca
            li: a() Cerrar Sesion
        div(*ngIf='!library')
            h1.dash-title Dope Music
            .dash-song-main
                .song-cover
                    h1 song
                    //img(src="#", alt="")
            ul.dash-album
                li
                    p S1 
                    h3 Song 1 #[span Dope Music]
                    strong 3:15
                li
                    p S2 
                    h3 Song 2 #[span Dope Music]
                    strong 4:02
                li
                    p S3 
                    h3 Song 3 #[span Dope Music]
                    strong 3:21
        div(*ngIf='library').dash-library
            div(*ngIf='!album').library-list
                h1 Biblioteca
                a((click)='openAlbum()')
                    h3 Album 1
            div(*ngIf='album').library-album
                h1 Album 1
                p.la-title  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste earum voluptates
                .bdiv
                ul.dash-album
                    li
                        p S1 
                        h3 Song 1 #[span Dope Music]
                        strong 3:15
                    li
                        p S2 
                        h3 Song 2 #[span Dope Music]
                        strong 4:02
                    li
                        p S3 
                        h3 Song 3 #[span Dope Music]
                        strong 3:21