footer{
    .footer-content{
        @include edContainer
    }
    .footer-title{
        @include edItem;
        font-size: 35px;
        text-align: center;
        color: $favorite;
        opacity: 5;
        @include from(m){
            font-size: 45px
        }

    }
    .footer-image{
        @include edItem;
        text-align: center;
        @include from(m){
            img{
                width: 50%
            }
        }
    }
}