.main-header{
    &__content{
        @include edContainer
    }
    &__logo{
        @include edItem(90,20,10)
    }
    &__toggle{
        margin: 15px 0;
        @include navToggle(16px,black);
        @include showTo(m);
    }
    &__nav{
        @include edItem(100,80,90);
        .main-nav{
            @include edContainer;
            @include edNav(right,m);
            background: $primary;
            &__menu{
                @include edItem(100,30,20);
                @include edMenu(m);
                text-align: center
            }
            &__login{
                @include edItem(100,70,80);
                display: flex;
                @include to(m){
                    text-align: center;
                    flex-direction: column;
                    &__button, &__button__2{
                        margin: 5px;
                        padding: 9px;
                        color: $secondary;
                        text-decoration: none;
                        border: 1px solid $secondary;
                        border-radius: 5px;
                        &:hover{
                            background:lighten($secondary, 90) 
                        }
                    }
                    &__button__2{
                        background: $secondary;
                        color: $primary;
                        &:hover{
                             background:lighten($secondary, 8) 
                        }
                    }
                }
                @include from (m){
                    align-items: center;
                    justify-content: flex-end;
                    &__button, &__button__2{
                        margin: 0 4px;
                        padding: 9px;
                        color: $secondary;
                        text-decoration: none;
                        border: 1px solid $secondary;
                        border-radius: 5px;
                        &:hover{
                            background:lighten($secondary, 90) 
                        }
                    }
                    &__button__2{
                        background: $secondary;
                        color: $primary;
                        &:hover{
                             background:lighten($secondary, 8) 
                        }
                    }
                }
            }
        }

        @include to(m){
            font-size: 25px
        }

        @include from(m){
            font-size: 17px
        }
    }
}